body {
    font-family: sans-serif;
    text-align: center;
}


/* ------------------------------------------------------------------------------- */


/** EXERCISE GRID AREAS */

#website-areas * {
    margin: 0;
    padding: 0;
}

#website-areas {
    /** GRID */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 70px 1fr 70px;
    grid-template-areas: "cabecera cabecera cabecera cabecera cabecera" "lateral menu menu menu menu" "lateral contenido contenido contenido contenido" "lateral pie pie pie pie";
    /* grid-template-areas: "cabecera cabecera cabecera cabecera ."; */
    /* grid-row-gap: 20px;
    grid-column-gap: 20px; */
    /** */
    justify-content: space-around;
    width: 75%;
    /* HEIGHT OF THE SCREEN DEVICES */
    height: 1000px;
    margin: 0 auto;
    border: 1px solid #cccccc;
}

#website-areas #cabecera {
    grid-area: cabecera;
    display: flex;
    justify-content: center;
    background-color: #2196F3;
    color: #ffffff;
}

#website-areas #cabecera h1 {
    align-self: center;
}

#website-areas #menu {
    grid-area: menu;
    background-color: #B3E5FC;
    color: #000000;
}

#website-areas #menu ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    list-style: none;
}

#website-areas #contenido {
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 25px;
    background-color: #eeeeee;
}

#website-areas #contenido article {
    background-color: #cccccc;
    border: 1px solid #555;
}

#website-areas #lateral {
    grid-area: lateral;
    background-color: #FF9800;
    color: #ffffff;
}

#website-areas #pie-pagina {
    grid-area: pie;
    background-color: #000;
    color: #fff;
}


/* ------------------------------------------------------------------------------- */


/** EXERCISE GRID */

#website * {
    margin: 0;
    padding: 0;
}

#website {
    /** GRID */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 70px 1fr 70px;
    /** */
    justify-content: space-around;
    width: 75%;
    /* HEIGHT OF THE SCREEN DEVICES */
    height: 1000px;
    margin: 0 auto;
    border: 1px solid #cccccc;
}

#website #cabecera {
    display: flex;
    justify-content: center;
    grid-column: 1 / 6;
    background-color: #2196F3;
    color: #ffffff;
}

#website #cabecera h1 {
    align-self: center;
}

#website #menu {
    grid-column: 1 / 6;
    background-color: #B3E5FC;
    color: #000000;
}

#website #menu ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    list-style: none;
}

#website #contenido {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 25px;
    background-color: #eeeeee;
}

#website #contenido article {
    background-color: #cccccc;
    border: 1px solid #555;
}

#website #lateral {
    grid-column: 5 / 6;
    background-color: #FF9800;
    color: #ffffff;
}

#website #pie-pagina {
    grid-column: 1 / 6;
    background-color: #000;
    color: #fff;
}


/* ------------------------------------------------------------------------------- */


/** EXAMPLE  */

.layout {
    width: 80%;
    min-height: 600px;
    margin: 0 auto;
    /* DEFINE GRIP */
    display: grid;
    /* DEFINE COLUMNS */
    grid-template-columns: repeat(3, 1fr);
    /* DEFINE ROWS */
    grid-template-rows: repeat(2, 1fr) 3fr repeat(2, 1fr);
    /* SPACE BETWEEN ELEMENTS */
    grid-gap: 10px;
    padding: 10px;
    border: 3px solid #FF9800;
}

.layout .caja {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
    border: 4px solid #222222;
    background-color: gray;
}

.layout .red {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #f44336;
}

.layout .blue {
    grid-column: 2 / 4;
    background-color: #2196F3;
}

.layout .green {
    grid-row-start: 2;
    grid-row-end: 6;
    background-color: #4CAF50;
}

.layout .pink {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    background-color: #E91E63;
}

.layout .orange {
    grid-row: 3 / 5;
    background-color: #FF9800;
}

.layout .lightblue {
    grid-column: 2 / 4;
    background-color: #03A9F4;
}